

.Card {
  border: 1px solid pink;
  width: 200px; 
  height: 100px;
  background: linear-gradient(to bottom, pink, #FFFBFD);
  border-radius: 2px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.image-card {
  text-align: start; 
}

.image-place img {
  max-width: 100%;
  max-height: 100px;
  border-radius: 50%;
}

.name-place {
  
  text-align: center; 
  padding: 1px;
  margin: 0px; 
}


.Place :hover{
  transition: 0.1s;
  transform: scale(1.02);
  box-shadow: 10px solid black;
}