.footer-werisco{
  height: 250px;
  width: 100%;
  background-color: rgb(65, 65, 65);
}

.footer-title{
  font-size: 30px;
  text-align: start;
  justify-content: center;
  padding-top: 50px;
  padding-left: 15px;
  color: pink;
}

.footer-link-contenedor{
  text-align: start;
  color: pink;
  font-size: 15px;
  padding-left: 15px;
  gap: 15px;
}
