.footer-werisco{
  height: 220px;
  width: 100%;
  background-color: rgb(65, 65, 65);
  display: flex;
}

.footer-werisco strong{
  border-top: 1px solid pink;
}

.footer-title{
  font-size: 30px;
  text-align: start;
  justify-content: center;
  padding-top: 25px;
  padding-left: 25px;
  color: pink;
}

.footer-link-contenedor{
  text-align: start;
  color: pink;
  font-size: 15px;
  padding-left: 15px;
  
}

.footer-link-contenedor a{
  text-decoration: none;
  text-transform: none;
  padding: 10px;
  color: pink;
  margin-top: 0px;
}

.footer-mail{
  text-align: end;
  padding-top: 15px;
  padding-right: 15px;
  color: pink;
}

.footer-email-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
}

.fa {
  padding: 0px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
}

/* Efecto al pasar el mouse (opcional) */
.fa:hover {
  opacity: 0.7;
}

/* Color específico para cada red social */
/* Facebook */
.fa-facebook {
  color: white;
}

/* Instagram */
.fa-instagram {
  color: white;
}

