.footer-werisco{
  height: 220px;
  width: 100%;
  background-color: rgb(65, 65, 65);
  display: flex;
  justify-content: space-between;
}

.footer-title{
  font-size: 30px;
  text-align: start;
  justify-content: center;
  padding-top: 50px;
  padding-left: 15px;
  color: pink;
}

.footer-link-contenedor{
  text-align: start;
  color: pink;
  font-size: 15px;
  padding-left: 15px;
  
}

.footer-link-contenedor a{
  text-decoration: none;
  text-transform: none;
  padding: 10px;
  color: pink;
  margin-top: 0px;
}

.footer-mail{
  text-align: end;
  padding-top: 30px;
  padding-right: 15px;
  color: pink;
}

.footer-email-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
}

