.werisco_header{
  height: 310px;
  width: 100%;
  background: linear-gradient(to bottom, rgb(212, 120, 136), #FFFBFD);
}

.werisco_header .title{
  margin: 0;
  font-size: 120px;
  font-weight: bold;
}

.werisco_header .subtitle{
  margin: 1;
  font-size: 20px;
  color: gray;
}