.navbar {
  height: 40px;
  width: 650px;
  display: flex;
  border-radius: 20px;
  margin: 10px;
  border: 1px solid rgb(255, 242, 254);
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0px;
  background-color: #ffd1fa;
  margin-inline: auto;
}


.navbar li  {
  text-decoration: none;
  list-style: none;
  height: 35px;
  border-radius: 20px;
  margin-top: 10px;
  
}

.navbar li :hover{
  
  text-decoration: underline;
  text-decoration-color: plum;
}

.navbar a{
  text-decoration: none;
  color: black;
  list-style: none;
  transition: linear 5s ease;
}



