.description {
  border: 2px solid brown;
  width: 50%;
  height: 100%;
  margin: 2px;
  border-radius: 20px;
  padding: 2px;
}

.description :hover{
  background-color: rgb(249, 182, 240);
  transition: 0.3s;
  transform: scale(1.01);
  border-radius: 20px;
}

.description .description-parragraph {
  font-size: 22px;
  font-style:italic;
  margin: 5px;
}