.description {
  width: 50%;
  height: 100%;
  margin: 2px;
  border-radius: 20px;
  padding: 2px;
  /* background-color: #FFECFD; */
  border: 2px pink;
  border-style: dashed;
}

.description .description-parragraph {
  font-size: 23px;
  font-style:italic;
  text-align: center;
  text-align-last: center;
  margin: 35px;
  margin-top: 40px;
  color: rgb(95, 95, 95);
}

.description-image{
  justify-content: center;
  width: 75px;
  height: 75px;
}